<nav class="navbar navbar-expand-sm bg-light">

  <!-- Links -->
  <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link">Shopping Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['']" style="cursor:pointer">Home</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
              <a class="nav-link" [routerLink]="['cart']">Cart
                  <span class="badge badge-warning badge-pill"  *ngIf="cart$ | async as cart">{{ cart.totalItemCount }}</span>
                  <!-- *ngIf="cart$ | async as cart" -->
              </a>
            </li> 
    
  </ul>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown" *ngIf="isAuthenticated()"> 
         
          <a class="nav-link dropdown-toggle" style="cursor:pointer" id="navbardrop" data-toggle="dropdown">
            {{userName}} 
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item">{{userEmail}}</a> 
            <a class="dropdown-item" (click)="onLogout()" style="cursor:pointer">LogOut</a>
            <a class="dropdown-item" styel="cursor:pointer" [routerLink]="['admin/products']" *ngIf="isAdmin">Manage Products</a>
          </div>
        </li> 
      <li class="nav-item">
          <a class="nav-link" (click)="onLogin()" style="cursor:pointer" *ngIf="!isAuthenticated()">Login</a>
        </li>
       
  </ul>

</nav>