<div class="row">
  <div class="col-3">
          <div class="sticky-top">

                  <div class="list-group">
          
                          <a 
                        class="list-group-item list-group-item-action"
                        [class.active]="!category"
                        routerLink="/"
                        >
                            Categories
                        </a>
                        <a *ngFor="let c of categories$ | async"
                         class="list-group-item list-group-item-action"
                         [routerLink]="['/shop']"
                         [queryParams]="{category: c.$key}"
                         [class.active]="category === c.$key"
                         >
                            {{c.name}}
                        </a>
                      
                      </div>
                      
          
          </div>
  </div>
  <div class="col">

    <div class="row">
        <ng-container *ngFor="let product of fp; let i = index">
<app-product [product]="product"  [shopping-cart]="cart"></app-product>
</ng-container>
        
</div>
</div>