<p>
  Shopping Cart
</p>

<ng-container  *ngIf="cart$ | async as cart" >
<p>
  You Have {{ cart.totalItemCount }} items in your shopping cart.
</p>

<table class="table">
  <thead>
    <tr>
      <th>Product</th>
      <th>Quantity</th>
      <th></th>
    </tr>
  </thead>
</table>
</ng-container>
