
    
                <div *ngIf="product.title" class="card" >
                    <img *ngIf="product.imageUrl" class="card-img-top" [src]="product.imageUrl" alt=" {{ product.title }} " >
                    <div class="card-body">
                      <h5 class="card-title">{{product.title}}</h5>
                      <p class="card-text"> {{product.price | currency:'INR': true}} </p>
                      
                    </div>
                    <div class="card-footer">
                        <button 
                        *ngIf="getQuantity() === 0; else updateQuantity"
                        (click)="addToCart(product)" class="btn btn-secondary btn-block">Add To Cart</button>
                        <ng-template #updateQuantity>
                          <div class="row no-gutters" >
                            <div class="col-2">
                              <button (click)="removeFromCart()" class="btn btn-secondary btn-block">
                                -
                              </button>
                            </div>
                            <div class="col text-center">
                              {{ getQuantity() }}  in cart
                              
                            </div>
          
                            <div class="col-2">
                              <button (click)="addToCart(product)" class="btn btn-secondary btn-block">
                                +
                              </button>
                            </div>
                           
                          </div>
                        </ng-template>
          
                         
                    </div>
                  </div>
            




<!--  -->